body {
    font-family: arial;
    background-image: url("/images/golf-course.jpg");
    background-position: center;
    background-size: cover;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

a, button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 20px 20px;
    text-decoration: none;
    background: rgb(253, 253, 253);
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
}
a:hover, button:hover {
    background: #2d40aa;
}
a:active, button:active {
    background: lightblue;
}


.options {
    margin-left: 100px;
}



h1 {
    text-align: start;
    padding-left: 120px;
}


