input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
h1 {
    text-align: center;
}
#firstRow {
    text-align: center;
    display:flex;
    background-color: green;
}
.title {
    position: relative;
    top: 7px;
    margin-top: -5px;
    font-weight: bold;
}
#hole {
    padding: 0px 10px;
}

#myCard{
    display:flex;
}

#table {
    padding: 20px;
    
}
#table, td, th {
    padding: 20px;
    border: 1px solid black;
}
#table, th {
    padding: 10px;
}
.Names  {
    border: none;
    padding: 10px;
    margin: -10px 0px;
    font-size: 15px;
    text-align: center;
}
