
body {
    font-family: arial;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */


h1 {
    text-align: center;
}

#firstRow, #tenthRow {
    background-color: #6c7ae0;
}

#firstRow td {
    color: white;
}

#firstRow, #tenthRow, th {
    color: black;
}

#firstRow :nth-child(12), #tenthRow :nth-child(12) {
    background-color: white;
    color: black;
}

.title {
    position: relative;
    top: 7px;
    margin-top: -5px;
    font-weight: bold;
}

#hole {
    padding: 0px 10px;
}

#myCard{
    display:flex;
}

#table {
    padding: 20px;    
}

#table, td, th {
    padding: 20px;
    border: 1px solid lightgray;
}

#table, th {
    padding: 10px;
}

.Names  {
    border: none;
    font-size: 15px;
    text-align: center;
    margin: initial;
}

.numberCells {
    padding: 5px; 
    font-size: 15px;
}

input[type=number] {
    /* background-color: red; */
    margin: -15px;
    padding-left: 10px;

}

